
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.vhs-show-card {
  background: rgb(237, 236, 224);
  color: black;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vhs-show-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
